/* MAIN HEADER */
.cf-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

/* LEFT */
.cf-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cf-logo {
  height: 80px;
}
.cf-logo {
  cursor: pointer;}
  

.cf-brand {
  font-weight: bold;
  font-size: 18px;
}

/* CENTER NAV */
.cf-nav {
  display: flex;
  gap: 30px;
}

.cf-nav a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
}

.cf-nav a:hover {
  color: #ff6a00;
}

/* RIGHT */
.cf-right {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
   margin-right: 50px;
}

.cf-link {
  cursor: pointer;
}

.cf-phone {
  color: #555;
}

/* BUTTONS */
.cf-login {
  background: white;
  border: 1px solid #ff6a00;
  color: #ff6a00;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.cf-sales {
  background: #ff6a00;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 800px) {
  .cf-nav {
    display: none;
  }

  .cf-phone {
    display: none;
  }
}

